.button {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.05s;

  @media screen and(max-width: 767px) {
        min-height: 30px;
  min-width: 30px;
      }

  &:active {
    transition: 0.05s;
    opacity: 1;
    transform: scale(0.9);
  }

  &__sign {
    --b: 1px;
    width: 16px;
    aspect-ratio: 1;
    display: inline-block;
    background: conic-gradient(from 90deg at var(--b) var(--b), transparent 90deg, #000 0) calc(100% + var(--b) / 2)
      calc(100% + var(--b) / 2) / calc(50% + var(--b)) calc(50% + var(--b));

      @media screen and(max-width: 767px) {
        width: 10px;
      }

    &_type_minus {
      background: conic-gradient(from 90deg at var(--b) var(--b), transparent 90deg, #000 0) calc(100% + var(--b) / 2)
        calc(100% + var(--b) / 2) / calc(110% + var(--b)) calc(50% + var(--b));
    }

    &_type_delete {
      transform: rotate(45deg);
    }
  }
}
