.form {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  gap: 10px;

  &__title {
    margin: 0 0 20px;
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 48px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    min-width: 358px;

    &:hover {
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.8);
    }

    &_inactive {
      background-color: rgb(202, 202, 202);
      color: #000;
      border: 1px solid #e6e6e6;
      pointer-events: none;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    min-width: 358px;
    display: flex;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 31px;
    font-size: 14px;
    line-height: 17px;

    &_for_add-product {
      border: none;
      align-items: center;
      padding-left: 10px;
      border-radius: 5px;
      background-color: #e6e6e6;
      color: black;
    }

    &_type_file {
      padding: 10px 10px 0;
    }

    &_for_label {
      min-width: 30px;
      min-width: 30px;
    }
  }
}
