.content {
  margin: 0 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1439px) {
      margin: 0 50px;
  }

  @media screen and (max-width: 1135px) {
      margin: 0 10px;
  }

  &__announcement {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    p:nth-child(1) {
      font-weight: bold;
    }
  }
}