.navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 31px;
  gap: 20px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1023px) {
    width: calc(100% - 20px);

    &_mobile {
      background-color: black;
      flex-direction: column;
      position: fixed;
      top: 0;
      bottom: 0;
      transform: translateY(-100%);
      transition: 0.5s;
      min-height: 100px;
      z-index: 200;
    }

    &_mobile_active {
      transform: translateY(0%);
      transition: 0.5s;
    }
  }

  &__roll {
    cursor: pointer;
    position: relative;
  }

  &__roll-list {
    z-index: 10;
    border-radius: 10px;
    transition: 0.5s;
    min-width: 205px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    top: 19px;
    right: -127%;
    list-style: none;
    position: absolute;
    align-items: center;
    visibility: hidden;
    opacity: 0;

    &_visible {
      visibility: visible;
      opacity: 1;
    }

    &-item {
      align-items: center;
      justify-content: center;
      min-height: 31px;
      display: flex;
      width: 100%;

      &:nth-child(1) {
        padding-top: 10px;
      }

      div {
        width: 15px;
        height: 15px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(-45deg);
      }
    }
  }
}
