.product-list {
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(auto, 250px));
  justify-items: center;
  justify-content: center;
  min-height: max-content;
  max-width: 100%;
  padding: 45px;
  gap: 20px;

  @media screen and (max-width: 1023px) {
    padding: 0;
    gap: 5px;
  }

  @media screen and (max-width: 767px) {
    grid-template: 1fr / repeat(auto-fill, minmax(auto, 170px));
    padding: 0;
    gap: 5px;
  }

  &__item {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    max-width: 230px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.5s;

    @media screen and (max-width: 1023px) {
      max-width: 250px;
      gap: 10px;
    }

    @media screen and (max-width: 767px) {
      padding: 5px;
      border-radius: 18px;
      max-width: 170px;
    }

    @media screen and (min-width: 1023px) {
      &:hover {
        transform: scale(1.02);
        transition: 0.5s;

        .product-list__border {
          background-color: rgb(25, 25, 25);
        }
      }
    }

    &:active {
      transition: 0.1s;
      transform: scale(0.99);
    }
  }

  &__delete-button {
    margin-bottom: -35px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    background-color: white;
    background-image: url(../../images/button-type-delete.svg);
    background-size: 30px;
    border-radius: 50%;
    border: none;
    align-self: flex-end;

    &:active {
      transition: 0.1s;
      transform: scale(0.99);
    }
  }

  &__border {
    max-width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    border: 5px rgb(250, 200, 10) solid;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;

    @media screen and (max-width: 540px) {
      border: 3px rgb(250, 200, 10) solid;
    }

    &_disable {
      border-radius: 0;
      border: none;
    }
  }

  &__image {
    max-width: 100%;
    object-fit: cover;
    pointer-events: none;
    background-color: #131313;
  }

  &__button {
    font-size: 13px;
    border-radius: 8px;
    padding: 0 10px;
    border: none;
    color: black;
    cursor: pointer;
    min-width: max-content;
    min-height: 30px;
    background-color: rgb(250, 200, 10);
    transition: 0.5s;

    @media screen and (max-width: 767px) {
      font-size: 10px;
      min-height: 20px;
    }

    &_inactive {
      background-color: rgb(255, 30, 30);
    }
  }

  &__name {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 40px;
    font-weight: normal;
    font-size: 17px;
    margin: 0;

    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }

  &__about {
    display: flex;
    align-items: center;
    min-height: 33px;
    font-size: 13px;
    margin: 0;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }

  &__price {
    font-size: 13px;

    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }
}
