.header {
  max-width: 1280px;
  margin: 0;
  padding-top: 30px;
  max-height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  @media screen and (max-width: 767px) {
    max-height: max-content;
    padding-top: 10px;
    gap: 10px;
    grid-template: repeat(3, max-content) / 1fr;
  }

  &__logo {
    min-width: 120px;
    min-height: 120px;
    background-image: url(../../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    transition: 0.5s;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
