.footer {
  background-color: #1f1f1f;
  margin: 50px 0 0;
  padding: 50px 0;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    min-width: 50%;
    gap: 10px;

    @media screen and (max-width: 767px) {
      max-width: calc(100% - 20px);
    }

    span {
      font-size: 56px;

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }

    p {
      margin: 0;

      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  &__info-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style: none;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }

    &-item {
      width: 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media screen and (max-width: 767px) {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }

      p {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 14px;
        line-height: 1.55;

        @media screen and (max-width: 767px) {
      gap: 10px;
    }

        span {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  &__box {
    width: 80%;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 830px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    p {
      cursor: default;
      margin: 0;
    }
  }

  &__input {
    background-color: transparent;
    border: 0;
    width: 10px;
    cursor: default;
    color: transparent;
  }
}
