@import 'normalize.css';

html {
  overflow-x: hidden;
  width: 100vw;
}

/* * {
  outline: 1px rgba(253, 0, 0, 0.605) solid;
} */

@import './styles/link.scss';
@import './styles/button.scss';
@import './styles/text-container.scss';
@import './styles/nav-links.scss';
@import './styles/popup.scss';
@import './styles/form.scss';

@import './components/App/app.scss';
@import './components/Phone/phone.scss';
@import './components/Cart/cart.scss';
@import './components/Header/header.scss';
@import './components/Main/content.scss';
@import './components/Navigation/navigation.scss';
@import './components/Product/product.scss';
@import './components/Contacts/contacts.scss';
@import './components/Footer/footer.scss';
@import './components/ProductCart/product-cart.scss';
@import './components/Preloader/Preloader.scss';
